[submodule "architecture"]
	path = architecture
	url = https://github.com/venugosv/architecture.git
[submodule "docs/assets/architecture"]
	path = docs/assets/architecture
	url = https://github.com/venugosv/architecture.git
